* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
   background-color: #a0b489;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 300px auto 300px;
   grid-template-areas: 
    "header"
    "main"
    "footer";
  place-items: center;
  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  gap: 1rem;
  height: 100%;
}

footer {
  grid-area: footer;
}
